{% extends 'base.html.twig' %}
{% block title %}{{ 'Editer un épisode'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-light">{{ 'Editer un épisode'|trans }}</h1>

    {{ include('episode/_form.html.twig', {'button_label': 'Mettre à jour'|trans}) }}

    <a href="{{ path('episode_index') }}">{{ "Retour à la liste"|trans }}</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
