{% extends 'base.html.twig' %}

{% block title %}{{ "Nouvel épisode"|trans }}{% endblock %}

{% block body %}
    <h1 class="text-light text-center">{{ "Créer un nouvel épisode"|trans }}</h1>

    {{ include('episode/_form.html.twig') }}

    <a class='text-light' href="{{ path('episode_index') }}">{{ "Retour à la liste"|trans }}</a>
{% endblock %}
