{% extends "layoutEmail.html.twig" %}
{% block title %}
{% endblock  %}
{% block body %}
    {{ '<h1>Nouvelle épisode {{ episode.title }} créé</h1>'|trans|raw }}
    {{ "<p>Hello, l'épisode {{ episode.title }} a été créé</p>"|trans|raw }}
    {{ "<p>résumé : {{ episode.synopsis }}</p>"|trans|raw }}
{% endblock %}
