{% extends "layoutEmail.html.twig" %}
{% block title %}
{% endblock  %}
{% block body %}
    <h1>{{ 'nouvel épisode %episode_title% créé'|trans({ '%episode_title%': episode.title}|raw) }}</h1>
    <p>{{ 'Hello, l\'épisode'|trans }} {{ episode.title }} {{ 'a été créé'|trans }}</p>
    <p>{{ "Hello, l'épisode %episode_title% a été créé"|trans({ '%episode_title%': episode.title})|raw }}</p>
    <p>{{ "résumé : %episode_synopsis%"|trans({'%episode_synopsis%': episode.synopsis})|raw }}</p>
{% endblock %}
