{% extends 'base.html.twig' %}

{% block title %}{{ 'Liste des saisons'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-light">{{ 'Liste des saisons'|trans }}</h1>

    <table class="table text-light">
        <thead>
        <tr>
            <th>Number</th>
            <th>Year</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>
                    <a class="text-light" href="{{ path('season_show', {'id': season.id}) }}">{{ 'Montrer'|trans }}</a>
                    <a class="text-light" href="{{ path('season_edit', {'id': season.id}) }}">{{ 'Editer'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'Aucune saison trouvée'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="text-light" href="{{ path('season_new') }}">{{ 'Créer une nouvelle saison'|trans }}</a>
{% endblock %}
