{% extends "base.html.twig" %}
{% block title %}
    {{ 'Editer une série'|trans }}
{% endblock  %}

{% block body %}
    <h1 class="text-light text-center">{{ 'Editer une série'|trans }}</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('program_index') }}">{{ "Revenir à la liste des séries"|trans }}</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
