{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1 class="text-light">Toutes les séries : </h1>
    <a class="btn btn-success" href="{{ path('program_new') }}" role="button">Ajouter une série</a>
    {% for program in programs %}
        <div>
            <h2 class="text-light">{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p class="text-light">{{ program.synopsis }}</p>
            {# Lien vers la fiche de la série : #}
            <a class="text-light" href="{{ path("program_show", { 'slug': program.title }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}" class="text-light">
       Retour à l'accueil
    </a>
{% endblock %}