{% extends 'base.html.twig' %}

{% block title %}{{ "Toutes les séries"|trans }}{% endblock %}

{% block body %}
    <h1 class="text-light">{{ 'Toutes les séries : '|trans }}</h1>
    <a class="btn btn-success" href="{{ path('program_new') }}" role="button">{{ 'Ajouter une série'|trans }}</a>
    {#    formulaire de recherche d'une série. #}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn-light">{{ 'Rechercher une série'|trans }}</button>
    {{ form_end(form) }}
    {% for program in programs %}
        <div>
            <h2 class="text-light">{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p class="text-light">{{ program.synopsis }}</p>
            {# Lien vers la fiche de la série : #}
            <a class="text-light"
               href="{{ path("program_show", { 'slug': program.slug }) }}">{{ 'Voir la fiche'|trans }}</a>

        </div>
    {% else %}
        <h2 class="text-light">{{ 'Aucune série trouvée.'|trans }}</h2>
    {% endfor %}


    <a href="{{ path('app_index') }}" class="text-light">
        {{ 'Retour à l\'accueil'|trans }}
    </a>
{% endblock %}
