{% extends "layoutEmail.html.twig" %} {% block title %} {{ parent() }} program {%
endblock %} {% block body %}
{{ '<h1>Nouvelle série {{ program.title }} créée</h1>'|trans|raw }}
<p>
  {{ 'Bonjour, la nouvelle série {{ program.title }} a été créée dans Wild Series'|trans|raw }}
</p>
  {{ '<p>Résumé : {{ program.synopsis }} </p>'|trans|raw }}
{% endblock %}
