{% extends "base.html.twig" %}

{% block title %}
    Série #{{ program.id }}
{% endblock  %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0 text-light">{{ program.title }}</h1>
            <p class="text-light">{{ program.synopsis }}</p>
            <h3 class="text-light">Catégorie : {{ program.category.name }}</h3>
        </div>
        {% if is_granted("ROLE_ADMIN") %}
            <a class="btn btn-light" href="{{ path( "program_edit", {'slug' : program.slug}) }}">EDIT</a>
        {% endif %}

        <a href="{{ path("episode_index") }}" class="btn btn-light">List of episodes</a>
    </div>
    <h3><strong class="text-light">Acteurs :</strong></h3>
    <ul class="list-group">
        {% for actor in program.actors %}
            <li class="text-light list-group-item"><a
                        href="{{ path("actor_show", {'id' : actor.id}) }}">{{ actor.name }}</a></li>
        {% else %}
            <li class="text-danger">Aucun acteur pour cette série</li>
        {% endfor %}
      </ul>
      <h3><strong class = "text-light">Saisons :</strong></h3>
    <ul class="list-group">
        {% for season in seasons %}
        <li class="list-group-item"><a href="{{ path("program_season_show", {"programId": program.id, "seasonId" : season.id}) }}">{{ season.description }}</a></li>
        {% endfor %}
      </ul>

      

    <a href="{{ path('program_index') }}" class="text-light">
        Retour à la liste des programmes
    </a>
{% endblock  %}