{% extends "base.html.twig" %}

{% block title %}
    {{ 'Série #{{ program.id }}'|trans }}
{% endblock  %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0 text-light">{{ program.title }}</h1>
            <p class="text-light">{{ program.synopsis }}</p>
            <h3 class="text-light">{{ 'Catégorie : {{ program.category.name }}'|trans }}</h3>
        </div>
        <section class="d-flex flex-lg-row justify-content-start mb-lg-4">
            {% if is_granted("ROLE_CONTRIBUTOR") %}

                <a class="btn btn-light me-lg-2" href="{{ path( "program_edit", {'slug' : program.slug}) }}">{{ 'Editer la
                    série'|trans }}</a>

                {# bouton pour ajouter une série à la liste des favoris #}
                <a id="watchlist" href="{{ path('program_watchlist', {'slug': program.slug}) }}">
                    <i class="bi {{ app.user.isInWatchList(program) ? 'bi-heart-fill' : 'bi-heart' }} text-info me-lg-2 fs-1"></i>
                </a>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                {{ include('program/_delete_form.html.twig') }}
            {% endif %}
        </section>

        <a href="{{ path("episode_index") }}" class="btn btn-light">{{ 'Liste des épisodes'|trans }}</a>
    </div>
    <h3><strong class="text-light">{{ 'Acteurs :'|trans }}</strong></h3>
    <ul class="list-group">
        {% for actor in program.actors %}
            <li class="text-light list-group-item"><a
                        href="{{ path("actor_show", {'id' : actor.id}) }}">{{ actor.name }}</a></li>
        {% else %}
            <li class="text-danger">{{ 'Aucun acteur pour cette série'|trans }}</li>
        {% endfor %}
    </ul>
    <h3><strong class="text-light">{{ 'Saisons :'|trans }}</strong></h3>
    <ul class="list-group">
        {% for season in seasons %}
            <li class="list-group-item"><a
                        href="{{ path("program_season_show", {"slug": program.slug, "season_number" : season.number}) }}">{{ season.description }}</a>
            </li>
        {% endfor %}
    </ul>



        <a href="{{ path('program_index') }}" class="btn btn-info">
            {{ 'Retour à la liste des programmes'|trans }}
        </a>



{% endblock %}
